<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/resources :: headTags}" />
    <title>Our [[${howmany}]] Premium Pizzas</title>
</head>

<!-- linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 30%) -->

<body class="bg-light-subtle text-dark" th:style="|background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.95) 100%), url(https://www.tasteatlas.com/images/dishes/67a1f8a12ae9474194265ea5217e9b0b.jpg) no-repeat center center fixed; background-size: cover;|">

    <header>
        <th:block th:replace="~{fragments/navbar :: navbar('home')}"></th:block>
    </header>

    <div class="container mt-5 " style="min-height: 600px;">
        <h1 class="text-light fw-bold">Our Premium choice of real Italian Pizzas</h1>


        <div class="d-flex flex-wrap gap-4 my-5">

            <div th:if="${pizzas}" th:each="pizza : ${pizzas}" th:object="${pizza}" th:class="${pizza.id % 2 == 0 ? 'bg-dark-subtle' : 'bg-dark text-light'} + ' card'" style="width: calc(33.333% - 1rem); position: relative;">

                <a th:href="@{/pizzas/edit/{id} (id=*{id})}" class="btn btn-warning" style="position: absolute; top: 0; right: 0;">
                    <i class="fas fa-edit"></i>
                </a>

                <!-- Modal trigger button -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" style="position: absolute; top: 45px; right: 0;" th:data-bs-target="'#delete-modal-' + *{id}">
                    <i class="fa-solid fa-trash"></i>
                </button>

                <!-- Modal Body -->
                <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-dark text-light">
                            <div class="modal-header">
                                <h1 class="modal-title" id="modalTitleId">
                                    Deleting "[[*{name}]]"
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the Pizza <strong>"[[*{name}]]"</strong>?
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                <form class="d-inline-block" th:action="@{/pizzas/delete/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-danger" type="submit">
                                        Permanently delete this Pizza
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <img th:src="*{picture}" class="card-img-top" th:alt="*{name}" style="height: 290px;">
                <div class="card-body">
                    <h3 class="card-title">Pizza <span th:text="*{name}" class="" /></h3>
                    <div class="card-text">
                        <p class="m-0 fst-italic" th:text="*{description}"></p>
                        <p class="">Price: <span th:text="*{price}" class="ms-2"></span> €</p>
                    </div>
                    <a th:href="@{'/pizzas/' + *{id}}" th:class="${pizza.id % 2 == 0 ? 'btn-dark' : 'btn-light'} + ' btn'">Come look</a>
                </div>
            </div>

            <div th:unless="${pizzas}" class="w-100 d-flex align-items-start justify-content-center mt-0" style="min-height: 500px;">
                <div class="container p-5 border border-3 border-warning rounded-3 bg-warning-subtle text-center" style="max-width: 900px;">
                    <h1><span class="text-danger">Warning:</span> a very sad day for any Pizza Lover</h1>
                    <p>
                        There is currently a problem with our server that is preventing you from seeing any pizzas, please wait.
                    </p>
                </div>
            </div>

        </div>
        <div class="text-light my-5 pb-5">
            <h1>Didn't find a pizza that matches your Taste?</h1>
            <a class="btn btn-success" th:href="@{/pizzas/create}">Request a Custom Pizza</a>
        </div>
    </div>


    <th:block th:replace="~{fragments/resources :: footerDisclaimer}" />
    <th:block th:replace="~{fragments/resources :: popper}" />
</body>

</html>